[2021-01-18 17:09] Kshitij978 opened #16 "Trouble in fetching username."
**Describe the bug**
After using it for a while, the graph SVG appears to be broken on revisit and after refreshing, it shows this

![](https://cdn.discordapp.com/attachments/800755702011527188/800758669364690994/Untitled.png)

**To Reproduce**
1. Leave the page opened in your browser for a minimum of half an hour.
2. Now refresh the page.
3. The above-mentioned screenshot will appear.

**Expected

[2021-01-18 17:35] mikeysan opened #17 "Add a footer to the graph that links back to this repository"
**Is your feature request related to a problem? Please describe.**
When I tested your graph, I noticed that outside of GitHub there was no way for me to know:
A. Who made it, and
B. That it is open source.

**Describe the solution you'd like**
Add a footer to the generated graph that has a link back to this repository.

[2021-01-18 19:24] mikeysan opened #18 "Changing the example in the readme to make it clearer for users"
**Is your feature request related to a problem? Please describe.**
I would like to raise a PR and make changes regarding the section about passing my username to the url
We discuss this [here](https://github.com/EddieJaoudeCommunity/support/issues/698) and I was invited to raise the PR to make the changes.

**Describe the solution you'd like**
Here is what I propose to do.
[code]
And then add this

[2021-01-19 05:59] Ashutosh00710 commented on #18
Thank You 🙂 for raising this issue @mikeysan, this will help us in improving the quality of this project.

Yes, @mikeysan folk the repository and make changes as per your understanding and make a PR. I will go through it. I am assigning this issue to you.

[2021-01-19 06:05] Ashutosh00710 commented on #17
Thanks for the idea @mikeysan we can add this feature.

Are you interested in implementing this issue ?

[2021-01-19 08:04] luebbe opened #19 "Theme name examples should be lowercase"
Not a big deal, but in your examples, the theme names start capitalized "Dracula", "Gruvbox", etc. but should be used all-lowercase.
"?theme=dracula". I copied the name from the example and of course it didn't work the first time ;)
Maybe just add a "?theme=<theme_name>" line to each example.

[2021-01-19 08:14] Ashutosh00710 commented on #19
Thanks for raising the issue @luebbe, Do you want to update the documentation yourself or do you want us to update it?

[2021-01-19 10:21] #19 closed

[2021-01-20 11:45] #16 closed

[2021-01-21 10:31] mikeysan commented on #17
I can just about do Python at the moment (still learning). :)

Let me do the documentation stuff I spoke of in a different ticket. If this is not done by then, I will take a crack at it.

[2021-01-21 11:33] eddiejaoude commented on #18
Awesome collaboration 💪

[2021-01-21 12:52] tintindas opened #23 "Set up process for individual servers in README"
I think your activity graph is a really nice addition to anyone's profile readme.

**Problem**
As the project grows in popularity your server maybe unable to handle the number of requests being made.

**Proposed Solution**
You should get ahead of the problem by adding a set up process to the README for users to set up their own heroku instances to make requests to.

[2021-01-21 14:31] Kshitij978 commented on #23
Thanks, @tintindas for the appreciation and for opening this issue. 😄

This addition will definitely improve the quality of the documentation. Do you want to add it yourself or you want us to do so?

[2021-01-21 14:35] Kshitij978 commented on #17
Sure :)

[2021-01-22 11:31] Ashutosh00710 opened #25 "Add more themes"
**Is your feature request related to a problem? Please describe.**
Adding more themes will give users a better set of colors to use in their activity graphs.

[2021-01-22 12:37] tintindas commented on #23
I took a look at the repo and I don't think I could write a set up guide without knowing the environment variables being consumed by the project, if any.

Specifically, the **http://github-calendar.herokuapp.com/commits/last/${userId}** route looks like it consumes some kind of github authorisation token if I am not mistaken.

Also, the mentioned route can be accessed by anyone even though its pur

[2021-01-22 14:54] Ashutosh00710 commented on #23
No, @tintindas there is no authorization token is required to fetch the user's contributions. Because, according to me, currently there is no way to get a user's everyday contributions using GitHub API, that's why we are using this URL.

`http://github-calendar.herokuapp.com/commits/last/${userId}` is fetching the user's contributions through some kind of html parsing.

[Source of the URL](https:/

[2021-01-22 14:58] tintindas commented on #23
Oh! That makes so much more sense. I misunderstood the code. Sure, I'll go ahead and write the documentation if it does not require any env variables :)

[2021-01-22 15:04] Ashutosh00710 commented on #23
Great @tintindas, go ahead. 😅

[2021-01-22 17:33] Ashutosh00710 commented on #23
Hey @tintindas, Sorry for the inconvenience. I unassigned you from the issue because I think I got the expected (user's contribution per day) response from GitHub API. If that's the case, it will include the environment variable.

I am keeping this issue open. Just hold for 1 or 2 days, until I am trying. If it's not going to work, I will let you know and reassign you the issue.

PS: What a lucky

[2021-01-22 17:36] Ashutosh00710 commented on #23
Hey @tintindas, Sorry for the inconvenience. I unassigned you from the issue because I think I got the expected (user's contribution per day) response from GitHub API. If that's the case, it will include the environment variable.

I am keeping this issue open. Just hold for 1 or 2 days, until I am trying. I will let you know and reassign you the issue.

PS: What a lucky day as I was searching for

[2021-01-23 10:09] Ashutosh00710 opened #26 "Use GitHub API instead of HTML parsing."

[2021-01-23 10:26] Ashutosh00710 commented on #26
Issue resolved with commit number 140

[2021-01-23 10:26] #26 closed

[2021-01-23 10:39] Ashutosh00710 commented on #23
Issue #26 closed with commit number 140. Integrated GitHub GraphQl API. Now one environment variable **TOKEN** is added.

[2021-01-23 10:42] Ashutosh00710 commented on #23
Issue #26 closed with commit number 140. Integrated GitHub GraphQl API. Now one environment variable **TOKEN** is added.
We are updating **How To Contribute** section of CONTRIBUTING.md

[2021-01-23 10:42] Ashutosh00710 commented on #23
Hey @tintindas, I am reassigning this issue to you.

[2021-01-23 11:10] Ashutosh00710 opened #28 "Update How To Contribute section of contributing.md"

[2021-01-23 11:11] #28 closed

[2021-01-24 04:20] tintindas commented on #23
@Ashutosh00710 great!!! 👍

[2021-01-24 08:05] Ashutosh00710 opened #29 "Add API testing with mocks"
Currently, there is no API testing setup with Mocks. In [**fetching.test.js**](../tree/main/__test__/fetching.test.js) directly [**calling the fetchContributions function**](../tree/main/__test__/fetching.test.js#L5) and getting the data from API is not a good practice while testing. Instead of making real API calls, use [Mocks](https://jestjs.io/docs/en/mock-functions.html).

[2021-01-24 08:10] Ashutosh00710 opened #30 "Use GitHub Actions for testing on push and pull_request"

[2021-01-26 11:01] Ashutosh00710 opened #32 "Add a demo link"
Add a demo link in the documentation so that users can see their graphs in action, on their browser.

[2021-01-27 08:47] Kshitij978 opened #33 "Rename fetching.ts to fetcher.ts"
fetcher.ts makes much more sense. File can be found  [here](https://github.com/Ashutosh00710/github-readme-activity-graph/tree/main/src)

[2021-01-28 06:58] Ashutosh00710 opened #35 "Change real links with screenshots in the documentation"
Unnecessary requests are coming on to the server.
![image](https://user-images.githubusercontent.com/42907572/106101719-4cea9d00-6164-11eb-869c-5fb5540f26b0.png)

[2021-01-28 07:30] #35 closed

[2021-01-28 13:57] #23 closed

[2021-01-28 14:04] Kshitij978 opened #39 "Typo in CONTRIBUTING.md"
There's a line in `CONTRIBUTING.md` that gives instructions on how to sync your fork. It needs a slight update. The current line states `git pull upstream master` , but I think there is no `master` branch on the repo.

[2021-01-28 14:05] #39 closed

[2021-01-28 14:19] Kshitij978 opened #40 "Add table of content in readme.md"
It'd be nice to have a table of content for quick access to documentation content.

[2021-01-29 15:43] Ashutosh00710 commented on #29
Mocks are added with [Commit: 177](https://github.com/Ashutosh00710/github-readme-activity-graph/commit/39cfe6b46fceb2af4c7f54e73793c0932d190be0)

[2021-01-29 15:43] #29 closed

[2021-01-29 15:47] Ashutosh00710 commented on #30
Github Actions Implemented with this [Commit](https://github.com/Ashutosh00710/github-readme-activity-graph/commit/8ed26fc262d163d0d5d752af87bee336aa7606c2)

[2021-01-29 15:47] #30 closed

[2021-01-30 13:51] Ashutosh00710 opened #42 "Add snapshot testing"
No snapshot testing setup for different SVGs. Setup snapshot testing so that appearance of SVGs can be tested.

[2021-01-31 07:10] #40 closed

[2021-01-31 08:59] #42 closed

[2021-01-31 16:05] #17 closed

[2021-01-31 16:25] Kshitij978 opened #47 "Add Deploy your own heroku instance section [using heroku's web interface] in readme.md"
Add a section under **Deploy your own heroku instance** in readme.md which tells about the deployment process on heroku using heroku's web interface.

### TO-DO:
- step wise explanation of the whole process.
- add screenshots/gif with each step.
- add url(s) if necessary.

[2021-01-31 22:17] mikeysan commented on #17
Oh Great! Someone else did it :) My new job has me really busy lately.

[2021-02-01 04:21] Ashutosh00710 commented on #17
No issues @mikeysan, that's completely fine. 🙂

[2021-02-01 06:11] Ashutosh00710 opened #48 "Add tests for routes"
Tests for routes are not there.

For below function there is no test.

https://github.com/Ashutosh00710/github-readme-activity-graph/blob/a648176c69fbef632260089ddb4f43132b14549f/src/utils.ts#L57

[2021-02-01 06:12] #48 closed

[2021-02-02 15:03] Ashutosh00710 commented on #25
### Guide to walk through:

If you don't know TypeScript, there is no issue, if you have a basic understanding of color combinations then you are perfect for this issue.

### How to add your theme and see in action:
- Read [How To Contribute](../blob/main/CONTRIBUTING.md#how-to-contribute) first.
- After running the project on your local system, try experimenting different color combinations with

[2021-02-18 12:34] DenverCoder1 opened #51 "[Feature] Hide border option"
It would be useful to add a feature for either changing the border color or adding a `hide_border` parameter.

Other stats cards such as [Streak Stats](https://github.com/DenverCoder1/github-readme-streak-stats) and [Readme Stats](https://github.com/anuraghazra/github-readme-stats) support this flag.

### Activity Graph alongside other readme stats cards:

![image](https://user-images.githubuserco

[2021-02-18 14:10] Kshitij978 commented on #51
Hello, @DenverCoder1 Thank you for using github readme activity graph and raising this issue. This feature will definitely enhance the quality of the graph.

Are you interested in implementing this feature or you want us to do so?

[2021-02-18 14:35] DenverCoder1 commented on #51
Hi, @Kshitij978. I think I can give a try.

[2021-02-18 15:05] Kshitij978 commented on #51
That's great! Go for it ✨ I'm assigning this issue to you.

[2021-02-18 15:51] #51 closed

[2021-02-25 05:27] Ashutosh00710 opened #55 "[ATTENTION] Server is down due to expiration of free dyno hours"
To render your graph use [this](https://github.com/Ashutosh00710/github-readme-activity-graph#Deploy-on-your-own-heroku-instance) way.

[2021-02-25 06:55] Ashutosh00710 commented on #55
The issue is temporarily fixed. Please prefer [this](https://github.com/Ashutosh00710/github-readme-activity-graph#Deploy-on-your-own-heroku-instance) way to avoid any kind of interruption.

[2021-03-05 11:10] Vaibhav-afk commented on #33
I'm Intrested in resolving this issue.

[2021-03-05 11:11] Ashutosh00710 commented on #33
Go for it 👍

[2021-03-05 11:24] #33 closed

[2021-03-06 09:00] Ashutosh00710 opened #59 "Make a readme for themes"
[Available Themes](https://github.com/Ashutosh00710/github-readme-activity-graph#available-themes) section is taking unnecessary space in project [README.md](https://github.com/Ashutosh00710/github-readme-activity-graph/blob/main/README.md). Make a separate readme (with name themes.md) for available themes.

**TODO**
1. Except top 5 themes, move other theme to a file with name themes.md
2. themes.

[2021-03-10 09:07] Vaibhav-afk commented on #59
### I can do this

[2021-03-10 09:42] Ashutosh00710 commented on #59
Go ahead 🎉

[2021-03-14 11:26] Vaibhav-afk commented on #32
I can do this

[2021-03-14 12:30] Vaibhav-afk commented on #32
I can do this

[2021-04-25 11:57] raklaptudirm opened #64 "NEW FEATURE REQUEST"
**Is your feature request related to a problem? Please describe.**
The dates are always numbered 1-31

**Describe the solution you'd like**
Instead, they could show the actual dates, like 28, 29, 30, 1, instead of just numbering 1-31

[2021-05-23 21:14] jgphilpott opened #65 "NEW FEATURE REQUEST - Change and/or Hide Title"
Would it be possible to have an option to change and/or hide the title?

[2021-05-24 05:25] Ashutosh00710 commented on #65
@jgphilpott thanks for raising this issue 🙂

Yes, it is possible.

Are you interested in working on this feature or you want us to implement so ?

[2021-05-24 18:37] jgphilpott commented on #65
@Ashutosh00710 I suppose I could try to implement it.. I'm not 100% sure what to do tho..

I browsed the **src folder** and I see the options in the card class in the **GraphCards file**, I guess those would need to be updated. I also looked at the **createChart file** but wasn't quite sure how to modify the title.

It would be nice to figure it out because I had a few other things I was intereste

[2021-05-25 04:40] Ashutosh00710 commented on #65
[This](https://github.com/Ashutosh00710/github-readme-activity-graph/blob/b6cb001e205e7cea5f45f6a4529dd7eb1727fad0/src/utils.ts#L74) is the line which is responsible for the title. Trace where this parameter is going to get a better idea about the title.

Title has nothing to do with this file. This file is just returning the graph svg

Can check [`svg.ts`](https://github.com/Ashutosh00710/github-

[2021-05-25 09:05] jgphilpott commented on #65
Okay thanks, I will take a look at it this weekend when I have a little more time.

[2021-05-25 10:31] Ashutosh00710 commented on #65
Sure 🚀

[2021-05-25 17:21] Ishaan-11 opened #66 "BUG-Text color not changing"
**Describe the bug**
As i select a Text color it does not reflect on the graph

**To Reproduce**
step-1: enter your username
step-2: try changing text color

**Expected behavior**
Text color of graph should change accordingly

**Screenshots**
![image](https://user-images.githubusercontent.com/51826621/119540590-37505180-bdab-11eb-886a-c69b819f5252.png)

[2021-05-26 05:07] Ashutosh00710 commented on #66
Thanks @Ishaan-11 🙂 for raising this issue.

The issue has been resolved with commit 8403094 ✅

[2021-05-26 05:07] #66 closed

[2021-05-30 15:24] jgphilpott commented on #65
Okay i've put in a [pull request](https://github.com/Ashutosh00710/github-readme-activity-graph/pull/69).

[2021-05-30 15:54] #65 closed

[2021-05-30 16:39] jgphilpott opened #70 "NEW FEATURE REQUEST - Area Color Option"
**Feature**: Add the functionality to change the area under the graph color.
**Reason**: It is currently the only major feature that cant be coloured.

[2021-06-20 05:40] #70 closed

[2021-06-21 23:15] jgphilpott commented on #64
I like the idea!

[2021-06-21 23:18] jgphilpott opened #73 "NEW FEATURE REQUEST - Themes Update"
Update all the themes `areaColor` values to be unique to that theme rather than generic.

[2021-06-22 03:16] Ashutosh00710 commented on #73
Nice Idea 🚀

[2021-06-22 04:14] #73 closed

[2021-06-22 04:15] Ashutosh00710 commented on #64
@jgphilpott interested in working on this feature?

[2021-06-22 21:16] jgphilpott commented on #64
@Ashutosh00710 perhaps some weekend next month I could look into it, a little to busy for it right now.

[2021-06-23 03:52] Ashutosh00710 commented on #64
Sure @jgphilpott 🙂

[2021-06-25 10:56] Utkarsh1504 opened #75 "Error Fetching Resource"
**Describe the bug**
it gives me an `Error Fetching Resource`

**To Reproduce**

**Expected behavior**
I was expecting to see an activity graph

**Screenshots**
![Screenshot (29)](https://user-images.githubusercontent.com/76392681/123414585-b36bce00-d5d1-11eb-9531-713b64d05f17.png)
![Screenshot (30)](https://user-images.githubusercontent.com/76392681/123414591-b666be80-d5d1-11eb-945f-5d89ef0d3ac1.

[2021-06-25 15:26] #75 closed

[2021-06-25 15:38] Kshitij978 commented on #47
Resolved in dbabbf255b7f8d17d89aad75bde8b9728325c383

[2021-06-25 15:38] #47 closed

[2021-06-26 02:11] #18 closed

[2021-06-26 10:36] jgphilpott commented on #64
@Ashutosh00710 do you think you could point me to a line as a starting point? I'm not 100% familiar with the code yet..

[2021-06-28 17:00] KG-1510 commented on #32
Can I please work on this issue?

[2021-07-14 00:06] junnei opened #77 "Bug : Username is "null" in my case"
**Describe the bug**
As I get graph from server, it gives me an error that my username is always "null".

**To Reproduce**
In my case,
URL : https://activity-graph.herokuapp.com/graph?username=junnei

**Expected behavior**
Just see an activity graph

**Screenshots**

<img width="1196" alt="image" src="https://user-images.githubusercontent.com/41983244/125540368-ab50fa11-26e6-4bad-8b2d-abf965fc87cf

[2021-07-14 01:55] Ashutosh00710 commented on #77
The graph is fetching your Github name (not GitHub username) and you haven't set your name on GitHub that's why it is showing null.

There is a feature you can use:
Pass an argument `custom_title` or if you like any title from below, just copy the code and paste it on your markdown.

[code]

It will look like ⬇

![Seongjun Jang Contribution Graph](https://activity-graph.herokuapp.com/graph?usernam

[2021-07-14 05:40] Ashutosh00710 commented on #77
closing this issue with e949cdaba16b4f6c243141c8bad09ff66c5e51c2

[2021-07-14 05:40] #77 closed

[2021-08-05 08:12] Prince2347X opened #78 "[Feature Request] Showing date of the contribution instead numbers"
Make the graph to show the dates (1/7, 2/7, 3/7 like this) of the contribution instead the numbers from 1 to 31 (they seems to be like wrong info)..
Or atleast fix those numbers.. Contribution should be synced with the date of the contribution...

[2021-09-04 15:31] #64 closed

[2021-09-04 15:31] #78 closed

[2021-09-04 15:49] EmperorYP7 opened #81 "BUG Label Alignment on Safari"
**Describe the bug**
The x-axis labels are not being rendered correctly due to some reason.

**To Reproduce**
Look at the graph

**Expected behavior**
The axis labels should be properly aligned.

**Screenshots**
<img width="856" alt="Screenshot 2021-09-04 at 9 15 55 PM" src="https://user-images.githubusercontent.com/62606998/132100388-77d942cb-e72d-4979-905a-e6bb54822e2b.png">

**Desktop (please c

[2021-09-04 16:33] Kshitij978 commented on #81
Hi! @EmperorYP7 Thank you for raising this issue. We are very sorry for the inconvenience. It's a cross browser compatibility issue and we are looking into it.

[2021-09-05 17:44] EmperorYP7 commented on #81
Update: It seems to be fixed for now. Maybe #80 was reverted.

[2021-09-29 13:17] Ashutosh00710 commented on #81
Update: Feature #80 is redeployed. Unfortunately, we don't have any solution for Safari.

[2021-10-02 08:07] sreyan-ghosh commented on #25
Hi, I am going to add the `gotham` theme. Please take note. 😄

[2021-10-02 08:27] Kshitij978 commented on #25
@sreyan-ghosh sure! go on.

[2021-10-02 20:16] DenverCoder1 opened #85 "BUG: Contribution counts are not aligned properly"
**Describe the bug**
Dates are not aligned properly with contribution counts. Only the last 25 days of contributions are displayed but the last 31 days are displayed on the axis.

**To Reproduce**
Started very recently (past day or so)

**Expected behavior**
There should be commits for the past month aligned with the days for those contribution counts.

**Screenshots**
![image](https://user-images

[2021-10-02 21:43] DenverCoder1 commented on #85
Is the deployment up-to-date?

I tried running the latest version of the code locally and it looks alright.

The dates do not appear next to the commits though.

![image](https://user-images.githubusercontent.com/20955511/135732470-f2ae2eec-c1d4-4d56-8bf4-b5a7c7ca875b.png)

[2021-10-02 21:55] ThatOneCalculator opened #87 "[Feature request] Custom timeframe"
Being able to add a timeframe (like a start and end date or time range) would be useful if I'd like to show a couple months or even a year

[2021-10-03 04:00] Ashutosh00710 commented on #85
@DenverCoder1 Yes it is. But the branch that is available in production, is [this](https://github.com/Ashutosh00710/github-readme-activity-graph/tree/dates-feature).

- I've visited your profile and found that the graph is aligned correctly (I hope it is now correct at your end also) but I got why that happened.
- If I am not wrong, it is because of the difference in the timezone between the hoste

[2021-10-04 17:38] Ashutosh00710 commented on #85
ba8d804 will fix the issue.

[2021-10-04 21:55] DenverCoder1 commented on #85
It's definitely better. It seems like all of the contributions are a day behind though.

![image](https://user-images.githubusercontent.com/20955511/135930131-3c09da97-78e9-4e2b-9105-e906c2231114.png)

![image](https://user-images.githubusercontent.com/20955511/135930070-4078f066-9a03-4d5f-b8d5-6caa8a944ca7.png)

![image](https://user-images.githubusercontent.com/20955511/135930075-bb4a2cdd-ce88-4

[2021-10-05 09:48] Ashutosh00710 commented on #85
Yes, **the timezone issue**. I think I have to look for some other solution.

[2021-10-06 11:58] vikas-ukani commented on #32
@Ashutosh00710

 I just use it and *designed my Github Profile.*

 Here is the *URL*  [**https://github.com/vikas-ukani**](https://github.com/vikas-ukani)

---

Looks so wonderful, Yeh 🥇

[2021-10-15 18:14] erbanku opened #91 "BUG: Wrong Label Alignment"
**Describe the bug**

The date label alignment is wrong on all clients, tested on Google Chrome (Desktop & iPadOS version)/Safari iPadOS/GitHub iPadOS client.

**To Reproduce**

Just open my [profile README page](https://github.com/erbanku) & see the chart on the page end. Or you can see your own profile page chart, in my side your chart also aligns wrong.

**Expected behavior**

Aligns correctly.

[2021-10-15 18:18] erbanku commented on #91
Your profile readme chart in my side.
_(Latest Google Chome for iPadOS)_
Shown as below:

![image](https://user-images.githubusercontent.com/79493862/137534132-cca2090f-444b-4f4d-a2ae-17efe48b90ec.jpeg)

[2021-10-16 01:29] erbanku commented on #91
### Now the chart is back to normal on the desktop version of Google Chrome, but iPadOS version Chrome/Safari/GitHub app are still aligned wrong.

[2021-10-18 03:22] #91 closed

[2021-10-25 14:06] asmitbm opened #92 "BUG: The Heroku deployment is down"
**Describe the bug**
Tried to load graph several times and also checked other profiles, no activity graph is visible. The Heroku deployment is showing error.

**To Reproduce**
Visit the given link: https://activity-graph.herokuapp.com/

**Expected behavior**
The activity graph should be visible

**Screenshots**

![Screenshot (93)](https://user-images.githubusercontent.com/81866614/138710530-5fa304

[2021-10-26 15:51] #92 closed, assigned to nobody

[2021-11-06 10:12] KayvT opened #93 "BUG: Dates are not diagonal when viewing from an iPhone"
**The Bug**
The dates that are supposed to be on the X-axis are diagonal and overlapping with the graph itself and the graph's title.

**To Reproduce:**
Visit my profile, use the dev tools and then switch the view mode to an iphone

**Expected behavior**
Should be normally aligned across the X-axis

**Screenshots**
![ImageXX](https://user-images.githubusercontent.com/40730865/140605957-d282c94f-ba

[2021-11-20 22:28] johnoseni1 opened #94 "FEATURE REQUEST: Adding a pie chart"
**Is your feature request related to a problem? Please describe.**
You could make it more unique by adding like a pie chart

**Describe the solution you'd like**
I will create a branch and help that get started with.

[2021-11-21 15:45] Ashutosh00710 commented on #94
Sure, go for it @johnoseni1 🚀

[2021-11-25 05:45] Muhammed-Rahif opened #95 "BUG: Heroku server error"
**Describe the bug**
Heroku is returning error, and so the graph isn't showing.

**To Reproduce**
Just check it out in here :- https://activity-graph.herokuapp.com/graph?username=Ashutosh00710

**Expected behavior**
Return without any error

**Screenshots**
![Screen Shot 2021-11-25 at 11 09 42](https://user-images.githubusercontent.com/73386156/143385898-71de8d10-02e3-4130-8a9a-e57d0f43e4cc.png)

[2021-11-25 13:05] Ashutosh00710 commented on #95
Refer to: #55

[2021-11-25 13:06] Ashutosh00710 commented on #95
Service is up again with different instance

[2021-12-16 09:13] #32 closed

[2022-01-30 17:10] DalpatRathore opened #106 "BUG: Design Issue"
Hey! @Kshitij978 - nice changes especially the URL text copy button. I have seen one anomaly in the graph where background color and graph plotting are not aligned properly, as can be seen in the screenshots :
- Newer Version
 ![newer-version](https://user-images.githubusercontent.com/69510006/151709318-da12811b-1575-4a95-acb1-4b08516f5d2f.png)

- Older Version
 ![older-version](https://user-image

[2022-01-31 13:11] Kshitij978 commented on #106
@DalpatRathore Thanks for raising the issue! It must be an issue of responsiveness of SVG. Is it happening on resizing the browser or in full screen or both?

[2022-01-31 16:22] DalpatRathore commented on #106
It is happening on both.  I have checked both versions - newer and older by resizing the browser. You see in the below screenshots:
 - **Newer Version**
    ![newer-version-1](https://user-images.githubusercontent.com/69510006/151830619-f218b4e9-063b-43c0-b9e6-2a778a067399.JPG)
  ![newer-version-2](https://user-images.githubusercontent.com/69510006/151830730-8273323c-f78b-4cbb-8f79-cedc93257faf.pn

[2022-01-31 19:37] Kshitij978 commented on #106
@DalpatRathore oh okay, I will try to come up with a fix asap.

[2022-02-20 16:38] Ashutosh00710 opened #108 "BUG:"

[2022-02-27 08:30] kenhorlador opened #109 "BUG:"
**Describe the bug**
The app seems to be not working. The link (https://activity-graph.herokuapp.com/graph?username=kenhorlador&hide_border=false&area=true&bg_color=2E0655) is not reachable in anyway.

**Expected behavior**
I expected that the graph would show up but 'Application error' seems to be showing up in the screen.

**Screenshots**
If applicable, add screenshots to help explain your probl

[2022-02-27 13:07] Dynesshely opened #110 "BUG: Application Error"
**Describe the bug**
In time of UTC+08:00 on 2022-02-27 21:03 , your application on herokuapp.com had error.<br>
The link of image is: https://activity-graph.herokuapp.com/graph?username=Dynesshely&theme=react-dark<br>

**To Reproduce**
😅

**Expected behavior**
Return the correct image.

**Screenshots**
![image](https://user-images.githubusercontent.com/50760269/155883622-cc9faf1d-15a9-4abc-a30d-f

[2022-02-27 15:26] harlexkhal commented on #110
Yeah same issue but there is a guide to deploy the project to your own heroku account [here](https://github.com/Ashutosh00710/github-readme-activity-graph#Deploy-on-your-own-heroku-instance)

[2022-02-27 15:35] Ashutosh00710 commented on #110
Refer to #55

[2022-02-27 15:35] #110 closed

[2022-02-27 15:36] Ashutosh00710 commented on #110
But things are up and running now

[2022-02-27 15:36] Ashutosh00710 commented on #109
Refer to #55
Things are up and running now

[2022-02-27 15:36] #109 closed

[2022-02-28 01:25] Dynesshely commented on #110
Thanks for this.
But for my WEB environment (yeah, i'm chinese), you konw.
I would deploy it when I got a VPN (it's hard in China)
Thanks for your works 😉

[2022-02-28 04:16] Ashutosh00710 commented on #110
No issues @Dynesshely, sorry interruption. Enjoy the graph buddy 😄

[2022-03-13 17:34] Ashutosh00710 opened #112 "Update test for refactor"
After refactoring with commit
- baef2ef292c6f7f96c56d7e2b7a7fdbec77a27ee
- 67cbb68997870f4dad5876f6001d8fbc558efd4c
- 8a5c9b030be65e22b47b0703a6f113691c9b1cb8

Tests are failing now and need to be updated.

[2022-03-14 16:50] #112 closed

[2022-03-24 09:01] kenhorlador opened #114 "BUG: Application Error"
**Describe the bug**
The application is not working.
![image](https://user-images.githubusercontent.com/65501588/159879911-17d9d35a-cadf-412c-802a-c5d8d70df1a0.png)

The link: "https://activity-graph.herokuapp.com/" is not reachable.

[2022-03-24 15:21] antonhibl commented on #114
I am also having the same issue after following the steps to host my own Heroku instance.

[2022-03-24 15:37] antonhibl opened #115 "BUG: Heroku App Crashing"
I tried to follow the steps to set up my own Heroku instance but it seems like the build might be buggy because after following all the instructions, the app is inaccessible and my application logs show it crashes on startup.

**To Reproduce**
I followed the steps to set up my own Heroku instance, however, after all of the steps were finished I can't access my application at the URL https://git-ac

[2022-03-25 03:39] Ashutosh00710 commented on #114
The graph is up and running now. Check #55

[2022-03-25 03:39] #114 closed

[2022-03-25 03:42] #115 closed

[2022-03-25 03:43] Ashutosh00710 commented on #115
@antonhibl try now

[2022-03-25 06:47] antonhibl commented on #115
@Ashutosh00710 fixed, thanks!

[2022-05-25 03:00] programmer-saidur opened #124 "BUG: The Server of the activity server isn't working. Please fix this"
![image](https://user-images.githubusercontent.com/74282142/170170612-054c311d-aec2-4eba-909a-4a6f11d0c977.png)

[2022-05-25 04:09] TechWiz-3 commented on #124
Yup, same here

[2022-05-25 06:23] Ashutosh00710 commented on #124
Refer #55, Project is up now. Closing the issue

[2022-05-25 06:23] #124 closed

[2022-05-29 20:07] Proliecan opened #125 "BUG:"
**Describe the bug**
The days are counted from one to 31, which doesn't correspond to a specific month.

**To Reproduce**
it's the same for every generated graph.

**Expected behavior**
Maybe they should go backwards (0,-1,-2,-3...)
or just be the day (today: 29.).

[2022-06-23 06:06] #125 closed

[2022-06-23 06:08] #85 closed

[2022-06-23 06:09] #94 closed

[2022-07-19 20:19] avi465 opened #130 "BUG: border corner not showing up properly."
**Describe the bug**
Border corner is not showing up properly.

**To Reproduce**
1. use xcode theme for generating card(as it have border_color "white").
2. give border radius some large value, suppose 16
3. set github-theme as dark (as white border can be easily seen).

**Screenshots**
<img width="833" alt="Screenshot 2022-07-18 185418" src="https://user-images.githubusercontent.com/63386918/1795

[2022-07-26 09:28] krakxn opened #133 "BUG: Custom Heroku instance does not work"
It was working fine for me all this time -- but today apparently, without any changes, it just is not working.

*Note: I tried both the common Heroku activity-graph and also my own activity-graph hosted on Heroku -- both seem to not work.*

What could be the issue here? You can take a further look at my profile's Readme, you can check it directly too but I have listed it below to keep this concise

[2022-07-26 09:38] R3dian commented on #133
Hi @krakxn, it appears to be that free dyno hours for this month are already consumed for activity-graph. My own heroku activity graph is working fine.

[2022-07-26 10:09] krakxn commented on #133
I see -- but why is my own activity graph down too? Could you look into it?

[2022-07-26 10:18] iamstan13y commented on #133
HI @krakxn I think the only option we have is to deploy our own instances on Heroku. Since your activity graph is dependant on the instance deployed by the original author

[2022-07-26 10:55] krakxn commented on #133
Yes yes I understand -- but my own instance is not working too, that is the doubt.

[2022-07-26 11:06] R3dian commented on #133
I can see that your app is up and running. May be check your token in the config app?

[2022-07-26 11:13] krakxn commented on #133
![github-configvar](https://user-images.githubusercontent.com/108299225/180993037-7024cfb5-d29d-4497-9c03-df8db30c7c39.png)

Is this okay? The token is input where the placeholder text was `Key`, with `Value as empty` (Note: the line is to blur the private token)

[2022-07-26 12:27] R3dian commented on #133
Key should be TOKEN and value should be the token value get from github.

[2022-07-26 13:15] krakxn commented on #133
@R3dian

Is this okay?

![github-configvar2](https://user-images.githubusercontent.com/108299225/181014724-741d23a6-735f-4adf-a301-47a2275d3425.png)

[2022-07-26 13:50] R3dian commented on #133
Looks good and I can see that Graph is also working now.

[2022-07-26 14:31] krakxn commented on #133
@R3dian Thank you! It is working now.

Doubt: if in my README.md -- I just have the custom Heroku instance, if it is working now does that mean my instance is fine now?

[2022-07-26 17:01] Ashutosh00710 commented on #133
@krakxn, Its working now, I have deployed a new instance. The reason is [mentioned](https://github.com/Ashutosh00710/github-readme-activity-graph/issues/133#issuecomment-1195252550) by @R3dian.

PS: I don't have enough funds to run the server 😂

[2022-07-26 19:41] krakxn commented on #133
Mhm.. it does not seem to work again. Any idea as to why my custom instance does not work, even after tweaking the config-vars?

[2022-07-27 01:15] Ashutosh00710 commented on #133
It seems like your custom instance is working. When I refreshed my browser on your profile it worked and I was able to see the graph.

![image](https://user-images.githubusercontent.com/42907572/181138312-b11ee137-131e-4bca-bf44-c40ef2f83474.png)

And this nature looks like, **Idling**
"In the Heroku free apps the dynos seem to keep idling"

[2022-07-27 07:32] krakxn commented on #133
@Ashutosh00710 I see, would this solution work? https://stackoverflow.com/a/5482285

[2022-07-27 07:39] Ashutosh00710 commented on #133
To be honest I don't have any idea about it. You can use our server url if you want your graph running all the time.

OR

You can deploy on [Repl.it](https://github.com/Ashutosh00710/github-readme-activity-graph#deploy-on-your-own-replit-instance) as well

[2022-07-27 08:32] R3dian commented on #133
As @Ashutosh00710 suggested you can also use Repl.it but as far as I know they are also not always awake for free tier. You can give it a try using this one already created.

https://activity-graph.r3dian.repl.co/graph?username=krakxn

[2022-07-27 08:33] #133 closed

[2022-08-24 20:04] SourinMajumdar opened #135 "The graph doesn't seem to load at all."
Tried a lot but it does not load. The URLs etc are properly put, last evening everything was alright.

[2022-08-24 22:36] infratidev commented on #135
@SourinMajumdar I was having the same issue. Deploy on heroku, it's very easy and free.

[2022-08-24 22:49] EleoXDA commented on #135
Could you navigate us?

[2022-08-24 22:54] EleoXDA commented on #135
Do you mean doing these procedures?
https://devcenter.heroku.com/articles/git

[2022-08-24 22:57] infratidev commented on #135
Just following the guide is simple:
https://github.com/Ashutosh00710/github-readme-activity-graph#deploy-on-your-own-heroku-instance

[2022-08-25 02:03] Ashutosh00710 commented on #135
Refer to #55 . Now everything is up and running 🚀

[2022-08-25 02:03] #135 closed

[2022-09-01 13:39] MagicLike opened #138 "IMPORTANT: Heroku is no longer offering free plans"
**Is your feature request related to a problem? Please describe.**
Heroku is no longer offering free plans.

**Describe the solution you'd like**
Another way of hosting Github Readme Activity Graph, like Vercel & Docker.

[2022-09-02 02:14] Ashutosh00710 commented on #138
@MagicLike, thanks for bringing our attention to it.

We are also thinking about other alternatives. But for existing users we are planning to send a highlighted text (with a message: "**the domain for this graph will expire after October 2022 please migrate it to xyz.url**") along with the graph.

What's your take on this?

[2022-09-02 02:26] DenverCoder1 commented on #138
@Ashutosh00710 There's still a chance Heroku will sponsor open source projects, nonprofits, and student projects. You may want to look into this. The details are not finalized as far as how much if not 100% discount, or which projects are eligible, but I'd at least recommended waiting to hear more on this. There's an email you can contact for the Salesforce Open Source Program office and they can

[2022-09-03 00:26] Ashutosh00710 commented on #138
@DenverCoder1 Thanks for your concern, I am really grateful to that.
I guess we should email the **Salesforce Open Source Program** team to analyze the project and provide a free tier to us.

[2022-09-05 12:13] mpotane opened #139 "NEW FEATURE: Title font-size"
Add font-size param for title.

[2022-09-13 08:17] zul-m opened #141 "NEW FEATURE: Title Padding"
**Is your feature request related to a problem? Please describe.**
The title seems to have less space below the border whenever we view it on mobile devices.

**Describe the solution you'd like**
A minor feature, but it's good to have the ability to configure the title padding from the border.

**Describe alternatives you've considered**
Make it the default padding value for all themes.

**Additio

[2022-09-15 02:29] codeboyfriend opened #142 "Graph Animation"
Is there a way to add animation to the graph?

[2022-09-16 19:54] #142 closed

[2022-09-21 06:58] jgphilpott opened #144 "BUG: No zero index on Y axis"
**Describe the Bug**

The Y axis scale should always start at 0 even if the lowest activity day is > zero.

**To Reproduce**

See screenshot.

**Expected behavior**

Even though the lowest activity day is 1 the Y axis scale should start from zero.

**Screenshots**

<img width="861" alt="Screen Shot 2022-09-21 at 9 48 47 AM" src="https://user-images.githubusercontent.com/4128208/191435196-43d42bb5-

[2022-09-22 10:57] Ashutosh00710 commented on #144
Graph is looking fine to me
![image](https://user-images.githubusercontent.com/42907572/191729224-28e3809b-b2e2-4692-bbd9-3953571b9bea.png)

[2022-09-22 11:41] jgphilpott commented on #144
That's because I haven't made any commits yet today so there is a zero activity day. Once I have a commit you will see it change again. ... there must be something in the code scaling the graph between the highest value and the lowest value but it should scale between the highest value and zero.

[2022-09-23 06:08] jgphilpott commented on #144
See the same day after adding 1 commit:

<img width="848" alt="Screen Shot 2022-09-22 at 7 33 16 PM" src="https://user-images.githubusercontent.com/4128208/191900845-ccffb59b-f4ec-403a-88d4-f2a75503d1f5.png">

[2022-09-23 07:47] jgphilpott commented on #144
I just opened a [pull request](https://github.com/Ashutosh00710/github-readme-activity-graph/pull/145). Look at the difference between the [main deployment](https://activity-graph.herokuapp.com/graph?username=jgphilpott&theme=github-light&area=true&hide_border=true&custom_title=Past%20Months%20Activity) and my [personal deployment](https://readme-graph-github.herokuapp.com/graph?username=jgphilpot

[2022-09-24 07:30] Ashutosh00710 commented on #144
Got you

[2022-09-24 07:40] Ashutosh00710 commented on #144
#145 closes this issue

[2022-09-24 07:40] #144 closed

[2022-09-24 17:27] kishanrajput23 commented on #25
Hii @Ashutosh00710
Can I work on this issue? if yes, then could you please assign it to me.

[2022-09-24 18:12] Ashutosh00710 commented on #25
Go ahead @kishanrajput23 🚀

[2022-09-25 03:04] sanyam-jain-2003 commented on #25
Hii @Ashutosh00710 I want to contribute in this Project? Could You Please assign it to me ??

[2022-09-25 03:09] Ashutosh00710 commented on #25
Go ahead @sanyam-jain-2003 🚀

[2022-09-25 05:04] Harshit1020 commented on #25
Hii @Ashutosh00710
Can I work on this issue? if yes, then could you please assign it to me.

[2022-09-25 05:14] Ashutosh00710 commented on #25
@Harshit1020 Go ahead 🚀

[2022-09-25 05:23] Sambhav250703 commented on #25
Hi @Ashutosh00710 can I contribute on this issue ? Could you pls assign to me

[2022-09-25 08:04] manmohan4142 commented on #25
Hey , @Ashutosh00710
Can I work on this issue? if yes, then could you please assign it to me.

[2022-09-25 09:28] anishcode19 commented on #139
Hi, I'm interested in contributing to this issue. This would be my first open-source contribution.
Can it be assigned to me?

[2022-09-25 09:29] anishcode19 commented on #25
Hi @Ashutosh00710  I'm interested in contributing to this issue. This would be my first open-source contribution.
Can it be assigned to me?

[2022-09-25 09:32] Kshitij978 commented on #139
Hi @anishcode19, yes go for it 🚀. Assigned it to you.

[2022-09-25 09:33] Ashutosh00710 commented on #25
@Sambhav250703 @manmohan4142 @anishcode19 Go ahead 🚀

[2022-10-01 17:51] Rituraj-13 commented on #141
Hey, I want to work on this issue. Can you please assign me for this?

[2022-10-01 18:01] Kshitij978 commented on #141
@Rituraj-13 Sure, go ahead!

[2022-10-01 20:18] AbhishekTiwari23 commented on #139
Hi @anishcode19, I also want to contribute to this project. This project is fine, but I just want to contribute. If you find any task related to the front end or staying, please assign it to me.

[2022-10-01 20:19] AbhishekTiwari23 commented on #139
I want to add a hover effect to the footer icon of Github and can add more socials so that community can grow.

[2022-10-01 20:24] Kshitij978 commented on #139
Hi, @AbhishekTiwari23 I think you are talking about the website. You can start by raising the issue(s) and I will assign it to you.

[2022-10-02 04:28] AbhishekTiwari23 commented on #139
Ok @Kshitij978, I will do this and give my best. Thanks, for assigning

[2022-10-02 04:52] AbhishekTiwari23 opened #150 "Hover effect and Styling"
I want to contribute to this fabulous project by adding my CSS and styling abilities. I would like to add a hover effect to the icons and text styling.
I request you allow me so that I can be a part of this initiative.

[2022-10-02 07:06] AbhishekTiwari23 commented on #150
Thanks for assigning me. I will respond as quickly as I can.
Just a small question - Will it be counted in hacktoberfest 2022

[2022-10-02 07:22] Ashutosh00710 commented on #150
@AbhishekTiwari23 I have added the **hacktoberfest** label to this issue. Now it should be counted in **Hacktoberfest 2022**.

[2022-10-02 21:05] AbhishekTiwari23 commented on #150
<img width="1440" alt="Screenshot 2022-10-02 at 8 03 47 PM" src="https://user-images.githubusercontent.com/97469132/193475603-72a2a3a9-989c-421f-baa7-e8748ae1d1c3.png">
Hello @Ashutosh00710, I made these changes in the repo. Hope you will love this, soon I will make a pr. If you want anything other the please let me know

[2022-10-02 21:05] AbhishekTiwari23 commented on #150
All the logo has a hover effect.

[2022-10-05 10:32] Kshitij978 commented on #141
Hi @Rituraj-13 title padding is working fine at my end. I'm not sure but I think it's the issue related to Mac or iPhone. If it's not working there then I think the main goal is to let a user dynamically change the padding by passing a relevant field and value in the query string just like other features of the graph currently work.

@zul-m Can you please tell us which device(s) you used to test t

[2022-10-06 02:53] zul-m commented on #141
Hey @Kshitij978. This was tested on iPad Pro and iPhone 7

[2022-10-07 03:43] Rituraj-13 commented on #141
Hey @Kshitij978 @zul-m, I have also tested it on one of my friend's iphone. And it was fine.

[2022-10-07 16:30] #150 closed

[2022-10-10 13:14] wangrongding opened #156 "NEW FEATURE: Is it possible to add a height configuration to the chart?"
Too high chart, feel will affect the view 🥲🥲🥲

![image](https://user-images.githubusercontent.com/42437658/194874673-b99e21f9-0399-4821-b691-dba9f3d90ed2.png)

[2022-10-12 02:13] #130 closed

[2022-10-16 15:09] Ashutosh00710 commented on #25
Sure @kanishbodhwani go ahead 🚀

[2022-10-21 11:47] OMEGA6403 opened #163 "BUG: the sever is down"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Mention the steps [...]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version

[2022-10-21 12:00] CBID2 commented on #163
Does this bug play a role in the graph not working @OMEGA6403?

[2022-10-21 12:03] #163 closed

[2022-10-21 12:03] OMEGA6403 commented on #163
nah it was just down

[2022-10-21 12:03] Ashutosh00710 commented on #163
@OMEGA6403 Try now its working

[2022-10-25 15:23] OMEGA6403 commented on #163
thx

[2022-11-21 18:46] DenverCoder1 commented on #138
@Ashutosh00710 Out of curiosity, did you end up hearing back from the Salesforce Open Source Program?
I haven't heard anything since my initial email to them even after I tried following up with them around the end of September.

[2022-11-21 18:48] Ashutosh00710 commented on #138
@DenverCoder1 even I haven't got any reply. Was thinking about changing the domain.

[2022-11-21 19:29] DenverCoder1 commented on #138
Yeah, that's unfortunate. Maybe after the Nov 28 deadline it will be easier to get a hold of them.

I'm moving most of my apps away from Heroku, but the few that still have a lot of users on the herokuapp.com domain, I might keep at least a little longer, but I might move those away too eventually.

I really like using Heroku, but Vercel and fly.io seem to be good free alternatives, although not q

[2022-11-21 23:21] DenverCoder1 commented on #138
Interestingly enough, I happened to receive an email linking to a form for requesting open source Heroku credit just about an hour ago. You may have gotten the same email or will likely soon if you messaged them.

[2022-11-22 08:44] Ashutosh00710 commented on #138
That's great @DenverCoder1. BTW on which email you've sent your email?

[2022-11-22 17:37] DenverCoder1 commented on #138
I sent an email to ospo-heroku-credits@salesforce.com at the beginning of September and was told they were still finalizing criteria and they would contact when they are ready.

The email I received from Heroku yesterday had a link to this Google Form - https://hello.heroku.com/e/36622/ymKtTTTu3UgGMA5x6/m5pqwq/1156219392?h=prLOSbqh-hJzGNOAKtussfEQ92b4_lnFAcltr_lL2gY

[2022-11-23 01:59] Ashutosh00710 commented on #138
Thanks @DenverCoder1 for the help. I guess this is a general form to apply for open source project, can I fill this form as well? Because I haven't recieved any response till now.

[2022-11-23 02:02] DenverCoder1 commented on #138
I can't say for certain, but it definitely looks like a general form that they'd have sent out to everyone. Feel free to try using the link. I've filled it out but haven't heard anything back yet and I expect they could even take a week or so to respond. The form is open until the 30th.